{% extends 'indexbase.html.twig' %}

{% block title %}{{ title }}{% endblock %}


{% block articles%}
<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  justify-items-center">
    {% for ensemble in ensembles %}
    <!-- component -->
    <div>
      <div class="max-w-xs  bg-white shadow-lg rounded-lg overflow-hidden my-10">
          <div class="px-4 py-2 flex justify-center">
            <h1 class="text-gray-900 font-bold text-sm uppercase">#{{ensemble.styles[0].Nom}}</h1>
          </div>
          <img src="{{ vich_uploader_asset(ensemble,'imageFile')|imagine_filter('ensembles')}}" alt="NIKE AIR">
          <div class="flex items-center justify-between px-4 py-2 bg-cyan">
            <div class="flex justify-center ">
            {% if ensemble.promotion %}
              <span class="text-gray-500 text-xl mx-2 mt-2"><del>{{ensemble.StringPrix}}</del></span>
              <span class="text-black  text-xl mx-2 mt-2">{{ensemble.StringPrixPromotion}}</span>
              <span class="text-xl px-1 text-red-600 m-2">{{ensemble.StringPromotion}}</span>
            {% else %}
              <span class="text-black  text-xl m-2 mt-2">{{ensemble.StringPrix}}</span>
            {% endif %}
            </div>
            <button class="px-4 py-1 bg-black text-sm text-white font-semibold  rounded-full"><a href="{{path(route,{id : ensemble.Id})}}"> En savoir plus</a></button>
          </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
{% endblock %}

