{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Create new produits</h1>
  {{ form_start(formEnsemble) }}
  {{form_row(formEnsemble.image)}}
  {{form_row(formEnsemble.Budget)}}
   <div class="w-full" id="productsList" data-prototype="{{form_widget(formEnsemble.children.produits.vars.prototype)|e('html_attr')}}">
    {% for row in formEnsemble.children.produits %}
      {{form_row(row)}}
    {% endfor %}
   </div>
  <button class="bg-cyan text-black rounded-md px-4 py-2 m-2">{{ button_label|default('Save') }}</button>

{{ form_end(formEnsemble) }}
{% endblock %}

