{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Create new produits</h1>
    <pre>
        {{ dump(formProduits) }}
    </pre>
{{ form_start(formProduits) }}
    <div class="bg-white rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
  <div class="-mx-3 md:flex mb-6">
    <div class="w-full px-3 mb-6 md:mb-0">
      {{ form_label(formProduits.imageFile) }}
      {{ form_widget(formProduits.imageFile) }}
      {{ form_errors(formProduits.imageFile) }}
      {{ form_help(formProduits.imageFile) }}
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
      {{ form_label(formProduits.type) }}
      {{ form_widget(formProduits.type)}}
      {{ form_errors(formProduits.type) }}
      {{ form_help(formProduits.type) }}
    </div>
    <div class="md:w-1/2 px-3">
      {{ form_label(formProduits.taille) }}
      {{ form_widget(formProduits.taille) }}
      {{ form_errors(formProduits.taille) }}
      {{ form_help(formProduits.taille) }}
    </div>
    <div class="md:w-1/2 px-3">
      {{ form_label(formProduits.Budget) }}
      {{ form_widget(formProduits.Budget) }}
      {{ form_errors(formProduits.Budget) }}
      {{ form_help(formProduits.Budget) }}
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
      {{ form_label(formProduits.marque) }}
      {{ form_widget(formProduits.marque) }}
      {{ form_errors(formProduits.marque) }}
      {{ form_help(formProduits.marque) }}
    </div>
    <div class="md:w-1/2 px-3">
      {{ form_label(formProduits.prix) }}
      {{ form_widget(formProduits.prix) }}
      {{ form_errors(formProduits.prix) }}
      {{ form_help(formProduits.prix) }}
    </div>
    <div class="md:w-1/2 px-3">
      {{ form_label(formProduits.promotion) }}
      {{ form_widget(formProduits.promotion) }}
      {{ form_errors(formProduits.promotion) }}
      {{ form_help(formProduits.promotion) }}
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-full px-3">
      {{ form_label(formProduits.etat) }}
      {{ form_widget(formProduits.etat) }}
      {{ form_errors(formProduits.etat) }}
      {{ form_help(formProduits.etat) }}
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-full px-3">
      {{ form_label(formProduits.styles) }}
      {{ form_widget(formProduits.styles) }}
      {{ form_errors(formProduits.styles) }}
      {{ form_help(formProduits.styles) }}
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-full px-3">
      {{ form_label(formProduits.saisons) }}
      {{ form_widget(formProduits.saisons) }}
      {{ form_errors(formProduits.saisons) }}
      {{ form_help(formProduits.saisons) }}
    </div>
  </div>
  <button class="bg-cyan text-black rounded-md px-4 py-2 m-2">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(formProduits) }}
{% endblock %}

