{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Create new produits</h1>
    <pre>
        {{ dump(formProduits) }}
    </pre>
{{ form_start(formProduits) }}
    <div class="bg-white rounded px-8 pt-6 pb-8 mb-4 flex flex-col my-2">
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2" >
        {{ form_label(formProduits.imageFile) }}
      </label>
      {{ form_widget(formProduits.imageFile) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.imageFile) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.imageFile) }}</p>
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
       {{ form_label(formProduits.type) }}
      </label>
      {{ form_widget(formProduits.type,{'attr':{'class':' block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none'}}) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.type) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.type) }}</p>
    </div>
    <div class="md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
        {{ form_label(formProduits.taille) }}
      </label>
      {{ form_widget(formProduits.taille,{'attr':{'class':' block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none'}}) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.taille) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.taille) }}</p>
    </div>
    <div class="md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
        {{ form_label(formProduits.Budget) }}
      </label>
      {{ form_widget(formProduits.Budget,{'attr':{'class':' block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none'}}) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.Budget) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.Budget) }}</p>
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
       {{ form_label(formProduits.marque) }}
      </label>
      {{ form_widget(formProduits.marque,{'attr':{'class':' block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none'}}) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.marque) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.marque) }}</p>
    </div>
    <div class="md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
        {{ form_label(formProduits.prix) }}
      </label>
      {{ form_widget(formProduits.prix,{'attr':{'class':' block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none'}}) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.prix) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.prix) }}</p>
    </div>
    <div class="md:w-1/2 px-3">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
        {{ form_label(formProduits.promotion) }}
      </label>
      {{ form_widget(formProduits.promotion,{'attr':{'class':' block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none'}}) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.promotion) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.promotion) }}</p>
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
        {{ form_label(formProduits.etat) }}
      </label>
          {{ form_widget(formProduits.etat,{'attr':{'class':' block w-full bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none'}}) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.etat) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.etat) }}</p>
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
        {{ form_label(formProduits.styles) }}
      </label>
          {{ form_widget(formProduits.styles) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.styles) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.styles) }}</p>
    </div>
  </div>
  <div class="-mx-3 md:flex mb-6">
    <div class="md:w-full px-3">
      <label class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-2">
        {{ form_label(formProduits.saisons) }}
      </label>
          {{ form_widget(formProduits.saisons) }}
      <p class="text-red text-xs italic">{{ form_errors(formProduits.saisons) }}</p>
      <p class="text-red text-xs italic">{{ form_help(formProduits.saisons) }}</p>
    </div>
  </div>
  <button class="bg-cyan text-black rounded-md px-4 py-2 m-2">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(formProduits) }}
{% endblock %}

