{% extends 'Adminbase.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="flex">
<div class="flex flex-col h-screen  justify-center w-6/12">
<div class="flex my-8">
    <label class="mx-8 mt-2"for="Styles">Styles</label>
    <select name="Styles" id="Styles" class=" mr-4 w-full block bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none">
        {% for style in init.initStyles %}
            <option value="{{style.id}}">{{style.Nom}}</option>
        {% endfor %}
    </select>
    <button  class="mx-4 px-4 mt-3 h-8 py-1  bg-blue-500 text-sm text-white font-semibold  rounded-full"><a id="Stylesvalue" href=""> modifier </a></button>
    <button class="mx-4 mr-8 mt-3 px-4 h-8 py-1 bg-red-600 text-sm text-white font-semibold  rounded-full"><a id="Stylesvalue1" href=""> supprimer</a></button>
    <a href="{{path('addStyle')}}" class="ml-auto  my-auto mr-8">
        <button class="bg-green-400 border  bg-opacity-40 text-black  rounded-full  w-10 h-10 text-3xl font-bold ">+</button>
    </a>
</div>
<div class="flex my-8">
    <label class="mx-8 mt-2"for="Saisons">Saisons</label>
    <select name="Saisons" id="Saisons" class=" mr-4 w-full block bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none">
        {% for saison in init.initSaisons %}
            <option value="{{saison.id}}">{{saison.Nom}}</option>
        {% endfor %}
    </select>
    <button  class="mx-4  mt-3 h-8 px-4 py-1 bg-blue-500 text-sm text-white font-semibold  rounded-full"><a id="Saisonsvalue" href=""> modifier </a></button>
    <button class="mx-4  mt-3 h-8 mr-8 px-4 py-1 bg-red-600 text-sm text-white font-semibold  rounded-full"><a id="Saisonsvalue1" href=""> supprimer</a></button>
    <a href="{{path('addSaison')}}" class="ml-auto  my-auto mr-8">
        <button class="bg-green-400 border  bg-opacity-40 text-black  rounded-full  w-10 h-10 text-3xl font-bold ">+</button>
    </a>
</div>
<div class="flex my-8">
    <label class="mx-8 mt-2"for="Types">Types</label>
    <select name="Types" id="Types" class=" mr-4 w-full block bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none">
        {% for type in init.initTypes %}
            <option value="{{type.id}}">{{type.description}}</option>
        {% endfor %}
    </select>
    <button  class="mx-4 mt-3 h-8 px-4 py-1 bg-blue-500 text-sm text-white font-semibold  rounded-full"><a id="Typesvalue" href=""> modifier </a></button>
    <button class="mx-4  mt-3 h-8 mr-8 px-4 py-1 bg-red-600 text-sm text-white font-semibold  rounded-full"><a id="Typesvalue1" href=""> supprimer</a></button>
    <a href="{{path('addType')}}" class="ml-auto  my-auto mr-8">
        <button class="bg-green-400 border  bg-opacity-40 text-black  rounded-full  w-10 h-10 text-3xl font-bold ">+</button>
    </a>
</div>
<div class="flex my-8">
    <label class="mx-8 mt-2"for="Tailles">Tailles</label>
    <select name="Tailles" id="Tailles" class=" mr-4 w-full block bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none">
        {% for taille in init.initTailles %}
            <option value="{{taille.id}}">{{taille.valeur}}</option>
        {% endfor %}
    </select>
    <button  class="mx-4 mt-3 h-8 px-4 py-1 bg-blue-500 text-sm text-white font-semibold  rounded-full"><a id="Taillesvalue" href=""> modifier </a></button>
    <button class="mx-4 mt-3 h-8 mr-8 px-4 py-1 bg-red-600 text-sm text-white font-semibold  rounded-full"><a id="Taillesvalue1" href=""> supprimer</a></button>
    <a href="{{path('addTaille')}}" class="ml-auto  my-auto mr-8">
        <button class="bg-green-400 border  bg-opacity-40 text-black  rounded-full  w-10 h-10 text-3xl font-bold ">+</button>
    </a>
</div>
<div class="flex my-8">
    <label class="mx-8 mt-2"for="Budgets">Budgets</label>
    <select name="Budgets" id="Budgets" class=" mr-4 w-full block bg-grey-lighter text-grey-darker border border-red rounded py-3 px-4 mb-3 focus:outline-none">
        {% for budget in init.initBudgets %}
            <option value="{{budget.id}}">{{budget.Nom}}</option>
        {% endfor %}
    </select>
    <button  class="mx-4 mt-3 h-8 px-4 py-1 bg-blue-500 text-sm text-white font-semibold  rounded-full"><a id="Budgetsvalue" href=""> modifier </a></button>
    <button class="mx-4 mt-3 m h-8 mr-8 px-4 py-1 bg-red-600 text-sm text-white font-semibold  rounded-full"><a id="Budgetsvalue1" href=""> supprimer</a></button>
    <a href="{{path('addBudget')}}" class="ml-auto  my-auto mr-8">
        <button class="bg-green-400 border  bg-opacity-40 text-black  rounded-full  w-10 h-10 text-3xl font-bold ">+</button>
    </a>
</div>
</div>
<div class="w-6/12 h-screen" >
{% block forms %}

{% endblock %}
</div>
</div>
{% endblock %}
