{% extends 'base.html.twig' %}

{% block title %}Ensembles{% endblock %}

{% block body %}
    <h1>Ensembles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ensemble.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ ensemble.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ensembles_index') }}">back to list</a>

    <a href="{{ path('ensembles_edit', {'id': ensemble.id}) }}">edit</a>

    {{ include('ensembles/_delete_form.html.twig') }}
{% endblock %}
